* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 5vh 0;
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  gap: 5vmin;
}

.input-group {
 max-width: 50vmin;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}

.table {
  width: 55vw;
}